/*
COLOR PALETTE
Background:
	Blue: #54556E
	Dark Blue: #40415A
Text:
	Normal: #FFFFFF
	Grey: #C1C1CA
Buttons:
	Red: #d55161
	Red-Hover: #c14857
	Grey: #7b7b7f
	Grey-Hover: #6a6a6a
Link:
	Grey: #C1C1CA
*/

:root {
	--devrant: #54556E;
	--devrant-dark: #40415A;
	--devrant-color-red: #d55161;
}

.btn-red {
	background-color: var(--devrant-color-red);
	border-radius: 10px;
	cursor: pointer;
	transition: background-color .15s ease-in-out;
	color: #fff;
}

.btn-red:hover {
	background-color: #c14857;
	color: #fff;
}

.bg-devrant {
	background-color: var(--devrant);
}

.bg-devrant-dark {
	background-color: var(--devrant-dark);
}

.navbar-brand {
	font-size: 1.6rem;
}

.nav-link {
	font-size: 1.15rem
}

.view {
	margin: 2.6rem 1rem 2.6rem 1rem;
}

#docs-quicklinks a {
	color: #C1C1CA !important;
}

#docs-quicklinks a:hover {
	color: #fff !important;
}

#docs-quicklinks {
	position: fixed;
	padding-top: 2rem;
	margin-left: -1px;
}

@media (min-width: 768px) {
	#docs-quicklinks {
		height: 100vh;
	}

	#docs-content {
		margin-left: 25%;
	}
}

@media (max-width: 768px) {
	#docs {
		margin-right: -17px;
	}

	#docs-quicklinks {
		padding-bottom: 20px;
		position: static;
	}

    #docs-content {
	    margin-top: 0px !important;
	    margin-left: auto;
	    margin-right: auto;
    }

	#playground .input-group-prepend {
		display: none;
	}

    #playground #inputUrl {
        border-top-left-radius: 0.25rem;
	    border-bottom-left-radius: 0.25rem;
    }
}

.textbox-title code {
	font-size: 1.34em;
	color: #000;
}

.endpoint, .textbox {
	margin-top: 2rem;
}

.badge-method {
	background-color: var(--devrant-color-red);
	color: #fff;
	vertical-align: 2px;
}

.endpoint-title code {
	font-size: 1.34em;
	color: var(--devrant-color-red);
}

.endpoint-permalink {
	position: relative;
	bottom: 3px;
	opacity: 0;
}

.endpoint-title:hover .endpoint-permalink {
	opacity: 1;
}

.endpoint-description {
	font-size: 1.15rem;
}

.endpoint-parameters-list {
	font-size: 18px;
	margin-left: 20px;
}

.endpoint-parameters-list dd {
	margin-left: 10px;
}

.endpoint-tryout {
	font-size: 16px;
}

.hljs-code-box pre {
	border-radius: 0.25rem !important;
}

.code-language-option {
	color: #000;
	font-size: 1em;
	margin-bottom: -4px;
}

.code-language-option:hover {
	color: #444;
}

.code-language-option.active {
	color: #007bff;
}

.playground-title code, .links-title code {
	color: var(--devrant-color-red);
}

#playground-submit {
	width: 70px;
}

.parameter-remove {
	position: absolute;
	top: 4px;
	right: 7px;
}

#playground-response {
	margin-top: 125px;
}

#playground-url-autocomplete {
	right: 0;
	margin-top: -1px;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
	left: auto;
	display: initial;
}