/*
COLOR PALETTE
Background:
	Blue: #54556E
	Dark Blue: #40415A
Text:
	Normal: #FFFFFF
	Grey: #C1C1CA
Buttons:
	Red: #d55161
	Red-Hover: #c14857
	Grey: #7b7b7f
	Grey-Hover: #6a6a6a
Link:
	Grey: #C1C1CA
*/

:root {
	--devrant: #54556E;
	--devrant-dark: #40415A;
	--devrant-color-red: #d55161;
}

.btn-red {
	background-color: var(--devrant-color-red);
	border-radius: 10px;
	cursor: pointer;
	transition: background-color .15s ease-in-out;
	color: #fff !important;
}

.btn-red:hover {
	background-color: #c14857;
	color: #fff;
}

.btn-red:focus {
	box-shadow: 0 0 0 0.2rem rgba(193,72,87,.5);
}

.bg-devrant {
	background-color: var(--devrant);
}

.bg-devrant-dark {
	background-color: var(--devrant-dark);
}

.navbar-brand {
	font-size: 1.6rem;
}

.nav-link {
	font-size: 1.15rem
}

.view {
	margin: 2.6rem 1rem 2.6rem 1rem;
}

#docs-quicklinks a {
	color: #C1C1CA !important;
}

#docs-quicklinks a:hover {
	color: #fff !important;
}

#docs-quicklinks {
	position: fixed;
	padding-top: 2rem;
	margin-left: -1px;
}

@media (min-width: 768px) {
	#docs-quicklinks {
		height: 100vh;
	}

	#docs-content {
		margin-left: 25%;
		padding-left: 5%;
	}

	.answers {
		border-right: 1px solid rgba(0,0,0,.1) !important;
	}
}

@media (min-width: 992px) {
	#docs-content {
		margin-left: 25%;
	}
}

@media (min-width: 1200px) {
	#docs-content {
		margin-left: 20%;
	}
}

@media (max-width: 768px) {
	#docs {
		margin-right: -17px;
	}

	#docs-quicklinks {
		padding-bottom: 20px;
		position: static;
	}

    #docs-content {
	    margin-top: 0px !important;
	    margin-left: auto;
	    margin-right: auto;
    }

	#playground .input-group-prepend {
		display: none;
	}

    #playground #inputUrl {
        border-top-left-radius: 0.25rem;
	    border-bottom-left-radius: 0.25rem;
    }

    .question-preview-title h5, .question-preview-title span {
	    float: none !important;
    }

	.qa-main-questions-title .all {
		display: block;
		float: none !important;
	}
}

.textbox-title code {
	font-size: 1.34em;
	color: #000;
}

.endpoint, .textbox {
	margin-top: 2rem;
}

.badge-method {
	background-color: var(--devrant-color-red);
	color: #fff;
	vertical-align: 2px;
}

.endpoint-title code {
	font-size: 1.34em;
	color: var(--devrant-color-red);
}

.endpoint-permalink {
	position: relative;
	bottom: 3px;
	opacity: 0;
}

.endpoint-title:hover .endpoint-permalink {
	opacity: 1;
}

.endpoint-description {
	font-size: 1.15rem;
}

.endpoint-parameters-list {
	font-size: 18px;
	margin-left: 20px;
}

.endpoint-parameters-list dd {
	margin-left: 10px;
}

.endpoint-tryout {
	font-size: 16px;
}

.hljs-code-box pre {
	border-radius: 0.25rem !important;
}

.code-language-option {
	color: #000;
	font-size: 1em;
	margin-bottom: -4px;
}

.code-language-option:hover {
	color: #444;
}

.code-language-option.active {
	color: #007bff;
}

.playground-title code, .links-title code {
	color: var(--devrant-color-red);
}

#playground-submit {
	width: 70px;
}

.parameter-remove {
	position: absolute;
	top: 4px;
	right: 7px;
}

#playground-response {
	margin-top: 125px;
}

#playground-url-autocomplete {
	right: 0;
	margin-top: -1px;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
	left: auto;
	display: initial;
}

@media (min-width: 992px) {
	#qa-main-sidebar {
		position: fixed;
	}

	#qa-main-questions {
		margin-left: 25%;
	}
}

.qa-main-questions-title .all {
	font-weight: normal;
	font-size: .85em;
	margin-bottom: -2px;
}

.categories-title {
	font-weight: bolder;
	font-size: 1.1em;
}

#search-btn svg {
	vertical-align: -2px;
}

.question-preview-title {
	padding-bottom: .5rem;
	cursor: pointer;
	color: inherit;
}

.question-preview-title:hover {
	color: inherit;
	text-decoration: none;
}

.question-preview-body {
	cursor: pointer;
	color: inherit;
}

.question-preview-body p {
	margin-bottom: 0px !important;
}

.question-preview-body:hover {
	color: inherit;
	text-decoration: none;
}

.question-title {
	padding-bottom: .3rem;
}

.cancel-btn {
	border-radius: 10px;
}

button[type="submit"]:disabled:hover {
	cursor: unset;
}

.new-question-error {
	font-size: 1.15rem;
}

.fakePre {
	white-space: pre-line;
}

#links-other ul {
	margin-top: 10px;
	padding-left: 0px;
}

#links-other li {
	list-style-type: none;
	padding-bottom: 5px;
}

#links-other li a {
	margin-left: 15px;
}

#links-other li span {
	margin-top: 10px
}

.delete:hover {
	cursor: pointer;
}

.delete svg {
	fill: #868e96;
}

.delete:hover svg {
	fill: var(--devrant-color-red);
}

.delete-question {
	position: absolute;
	bottom: 0.85rem;
	left: 1.25rem;
}

.delete-answer {
	position: absolute;
	right: 8px;
	top: 5px;
}

.backBtn {
	text-decoration: none !important;
}