<section id="docs" class="row">
	<aside id="docs-quicklinks" class="col-md-4 col-lg-3 col-xl-2 bg-devrant-dark">
		<nav class="nav flex-column">
			<a title="Jump to Introduction" class="nav-link" href="#intro"><code>Introduction</code></a>
			<a title="Jump to {{endpoint}}" class="nav-link" ng-repeat="endpoint in endpointsList" ng-href="#{{endpoint}}"><code>{{endpoint}}</code></a>
			<a title="Jump to Errors" class="nav-link" href="#errors"><code>Errors</code></a>
		</nav>
	</aside>
	<div id="docs-content" class="col-md-9 row mt-3">
		<div id="docs-endpoints" class="col-md-10 mx-auto">
			<div id="intro" class="card textbox">
				<div class="card-body">
					<h4 class="card-title textbox-title"><code>Introduction</code></h4>
					<div class="card-text textbox-content">
						<ng-include src="'content/docs/introduction.html'"></ng-include>
					</div>
				</div>
			</div>

			<div class="card endpoint" ng-repeat="endpoint in endpoints">
				<div class="card-body">
					<h4 class="card-title endpoint-title"><span class="badge badge-method">
						{{endpoint.method}}</span> <code>{{endpoint.endpoint}}</code>
						<a title="Permalink to this endpoint" ng-href="{{getElementLink(endpoint.endpoint)}}" class="endpoint-permalink">
							<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="#9191a1" viewBox="0 0 24 24">
								<path d="M6.188 8.719c.439-.439.926-.801 1.444-1.087 2.887-1.591 6.589-.745 8.445 2.069l-2.246 2.245c-.644-1.469-2.243-2.305-3.834-1.949-.599.134-1.168.433-1.633.898l-4.304 4.306c-1.307 1.307-1.307 3.433 0 4.74 1.307 1.307 3.433 1.307 4.74 0l1.327-1.327c1.207.479 2.501.67 3.779.575l-2.929 2.929c-2.511 2.511-6.582 2.511-9.093 0s-2.511-6.582 0-9.093l4.304-4.306zm6.836-6.836l-2.929 2.929c1.277-.096 2.572.096 3.779.574l1.326-1.326c1.307-1.307 3.433-1.307 4.74 0 1.307 1.307 1.307 3.433 0 4.74l-4.305 4.305c-1.311 1.311-3.44 1.3-4.74 0-.303-.303-.564-.68-.727-1.051l-2.246 2.245c.236.358.481.667.796.982.812.812 1.846 1.417 3.036 1.704 1.542.371 3.194.166 4.613-.617.518-.286 1.005-.648 1.444-1.087l4.304-4.305c2.512-2.511 2.512-6.582.001-9.093-2.511-2.51-6.581-2.51-9.092 0z" />
							</svg>
						</a>
					</h4>
					<hr>
					<div class="card-text endpoint-content">
						<p class="endpoint-description">
							{{endpoint.description}}
						</p>

						<div class="endpoint-parameters mt-4">
							<h4>Parameters:</h4>
							<dl class="endpoint-parameters-list">
								<dt ng-repeat-start="parameter in endpoint.parameters">{{parameter.name}}</dt>
								<dd ng-repeat-end>{{parameter.description}}</dd>
							</dl>
						</div>

						<div class="endpoint-example-code mt-5">
							<h4>Example code:</h4>
							<nav class="code-language-chooser nav">
								<div ng-repeat="lang in endpoint.langs">
									<a class="nav-link code-language-option" ng-class="{active : (lang.langCode == language)}" href="#" ng-click="setLanguage(lang.langCode)">{{lang.name}}</a>
								</div>
							</nav>
							<div hljs hljs-no-escape hljs-language="{{language}}" class="endpoint-code-box hljs-code-box" hljs-source="endpoint.exampleCode[language]"></div>
						</div>

						<div class="endpoint-example-response mt-5">
							<h4>Example response:</h4>
							<div hljs hljs-no-escape hljs-language="php" class="endpoint-code-box hljs-code-box" hljs-source="endpoint.exampleResponse"></div>
						</div>

						<div class="text-center">
							<a class="endpoint-tryout btn btn-red" ng-href="/playground?endpoint={{endpoint.endpoint}}">Try out in Playground</a>
						</div>
					</div>
				</div>
			</div>

			<div id="errors" class="card textbox">
				<div class="card-body">
					<h4 class="card-title textbox-title"><code>Errors</code></h4>
					<div class="card-text textbox-content">
						<ng-include src="'content/docs/errors.html'"></ng-include>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>