<section id="docs" class="row">
	<aside id="docs-quicklinks" class="col-md-2 bg-devrant-dark">
		<nav class="nav flex-column">
			<a class="nav-link" href="#"><code>/end/point/</code></a>
			<a class="nav-link" href="#"><code>/end/point/</code></a>
			<a class="nav-link" href="#"><code>/end/point/</code></a>
			<a class="nav-link" href="#"><code>/end/point/</code></a>
		</nav>
	</aside>
	<div id="docs-content" class="col-md-10 row mt-3">
		<div id="docs-endpoints" class="col-md-10 mx-auto">
			<div class="card endpoint">
				<div class="card-body">
					<h4 class="card-title endpoint-title"><span class="badge badge-pink">GET</span> <code>/end/point/</code></h4>
					<hr>
					<div class="card-text endpoint-content">
						<p class="endpoint-description">
							Used to bla bla and then bla. Also be used in bla lol haha lorem ipsum
						</p>
						<div class="endpoint-parameters mt-4">
							<h4>Parameters:</h4>
							<dl class="endpoint-parameters-list">
								<dt>app</dt>
									<dd>Standart app parameter. Set to 3</dd>
								<dt>id</dt>
									<dd>ID of the user</dd>
							</dl>
						</div>

						<div class="endpoint-example-code mt-5">
							<h4>Example code:</h4>
							<div hljs hljs-no-escape hljs-language="php" class="endpoint-code-box">
&lt;?php

 $response = file_get_contents("https://devrant.com/api/devrant/supporters?app=3");

?&gt;
</div>
						</div>

						<div class="endpoint-example-response mt-5">
							<h4>Example response:</h4>
							<div hljs hljs-no-escape hljs-language="php" class="endpoint-code-box">
{
  "test": "value",
  "test2": true,
  "test3": 12,
  "test4": []
}
</div>
						</div>

						<div class="text-center">
							<a class="endpoint-tryout btn btn-red" href="#">Try out in Playground</a>
						</div>
					</div>
				</div>
			</div>
			<div class="card endpoint">
				<div class="card-body">
					<h4 class="card-title endpoint-title"><span class="badge badge-pink">POST</span> <code>/end/point/</code></h4>
					<hr>
					<div class="card-text endpoint-content">
						<p class="endpoint-description">
							Used to bla bla and then bla. Also be used in bla lol haha lorem ipsum
						</p>
						<div class="endpoint-parameters mt-4">
							<h4>Parameters:</h4>
							<dl class="endpoint-parameters-list">
								<dt>app</dt>
								<dd>Standart app parameter. Set to 3</dd>
								<dt>id</dt>
								<dd>ID of the user</dd>
							</dl>
						</div>

						<div class="endpoint-example-code mt-5">
							<h4>Example code:</h4>
							<div hljs hljs-no-escape hljs-language="php" class="endpoint-code-box">
&lt;?php

 $response = file_get_contents("https://devrant.com/api/devrant/supporters?app=3");

?&gt;
							</div>
						</div>

						<div class="endpoint-example-response mt-5">
							<h4>Example response:</h4>
							<div hljs hljs-no-escape hljs-language="php" class="endpoint-code-box">
{
  "test": "value",
  "test2": true,
  "test3": 12,
  "test4": []
}
							</div>
						</div>

						<div class="text-center">
							<a class="endpoint-tryout btn btn-red" href="#">Try out in Playground</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>