<section id="links" class="row">
	<div id="links-content" class="col-md-8 mx-auto mt-5">
		<div class="card">
			<div class="card-body">
				<h1 class="card-title text-center links-title"><code>Links</code></h1>
				<div class="card-text mt-4">

					<div id="links-libraries">
						<h4>Libraries:</h4>
						<table class="table table-striped table-responsive-sm">
							<thead>
								<tr>
									<th scope="col">Name</th>
									<th scope="col">Language</th>
									<th scope="col">Author</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="library in links.libraries">
									<td><a title="Link to GitHub" ng-href="{{library.link}}" target="_blank">{{library.name}}</a></td>
									<td>{{library.language}}</td>
									<td>{{library.author}}</td>
								</tr>
							</tbody>
						</table>
					</div>

					<div id="links-other" class="mt-5">
						<h4>Other Links: </h4>
						<ul>
							<li ng-repeat="link in links.other">
								<a title="{{link.name}}" target="_blank" ng-href="{{link.link}}">{{link.name}}</a>
							</li>
						</ul>
					</div>

					<footer id="links-footer" class="text-center">
						This site was made by <a href="https://github.com/Skayo" title="GitHub Profile" target="_blank">Skayo</a><br>
						Extra documentation written by <a href="https://github.com/frogstair" title="GitHub Profile" target="_blank">frogstair</a>
					</footer>
				</div>
			</div>
		</div>
	</div>
</section>