<section id="qa" class="row">
	<div id="qa-main-content" class="col-md-8 mx-auto mt-5 row">
		<aside id="qa-main-sidebar" class="col-lg-2">
			<a class="btn btn-red btn-lg btn-block mb-4" href="/qa/new" ng-click="newQuestion($event)">New Question</a>

			<div class="input-group mb-4">
				<input type="text" class="form-control" placeholder="Search..." aria-label="Search..." ng-model="search" ng-keypress="($event.charCode==13) ? searchQuestions() : return">
				<div class="input-group-append">
					<button id="search-btn" class="btn btn-secondary" type="button" ng-click="searchQuestions()">
						<svg xmlns="http://www.w3.org/2000/svg" fill="#fff" width="16" height="16" viewBox="0 0 24 24"><path d="M23.822 20.88l-6.353-6.354c.93-1.465 1.467-3.2 1.467-5.059.001-5.219-4.247-9.467-9.468-9.467s-9.468 4.248-9.468 9.468c0 5.221 4.247 9.469 9.468 9.469 1.768 0 3.421-.487 4.839-1.333l6.396 6.396 3.119-3.12zm-20.294-11.412c0-3.273 2.665-5.938 5.939-5.938 3.275 0 5.94 2.664 5.94 5.938 0 3.275-2.665 5.939-5.94 5.939-3.274 0-5.939-2.664-5.939-5.939z"/></svg>
					</button>
				</div>
			</div>

			<div class="alert alert-info mb-4" role="alert">
				Welcome to the Q&A Section of this site!<br>
				Here you can ask questions, help others, or just find answers!<br>
				Please be nice to each other and don't be rude!<br>
				Have fun!
			</div>

			<div class="card mb-4">
				<div class="card-header categories-title">
					Categories:
				</div>
				<div class="list-group list-group-flush">
					<a href="#" ng-click="setCategory('all')" ng-class="{active : (activeCategory == 'all')}" class="list-group-item list-group-item-action">All</a>
					<a href="#" ng-click="setCategory(category)" ng-class="{active : (activeCategory == category.toLowerCase())}" class="list-group-item list-group-item-action" ng-repeat="category in categories">{{category}}</a>
				</div>
			</div>
		</aside>

		<div id="qa-main-questions" class="col-lg-9">
			<h5 class="qa-main-questions-title mb-3" ng-hide="isSearch">All questions:</h5>
			<h5 class="qa-main-questions-title mb-3" ng-show="isSearch">Search results for '{{searchCopy}}': <a href="#" ng-click="deleteSearch()" class="float-right all" ng-show="isSearch">Delete Search</a></h5>

			<h6 class="text-muted" ng-show="questions.length == 0">No Questions yet</h6>

			<div class="card mb-4 question-preview" ng-repeat="question in questions">
				<a class="card-header question-preview-title" ng-href="/qa/{{question.id}}">
					<h5 class="float-left">{{question.title}}</h5>
					<span class="float-right"><span class="text-muted">Asked by</span> @{{question.username}}</span>
				</a>
				<a class="card-body question-preview-body" ng-href="/qa/{{question.id}}">
					<p class="card-text fakePre">{{question.body | limitTo: 100}}</p>
					<div class="question-answer-count text-muted float-right">
						{{question.answerCount}} Answer<span ng-hide="question.answerCount == 1">s</span>
					</div>
				</a>
			</div>
	</div>

	<ng-include src="'views/qa/auth/login.html'"></ng-include>
</section>