<section id="qa" class="row">
	<div class="col-md-6 mx-auto mt-5">
		<div class="card mb-4 question">
			<div class="card-header question-title">
				<h5 class="float-left">{{question.title}}</h5>
				<span class="float-right"><span class="text-muted">Asked by</span> @{{question.username}}</span>
			</div>
			<div class="card-body">
				<p class="card-text fakePre">{{question.body}}</p>
			</div>
		</div>

		<div class="row">
			<div class="col-md-7 answers order-2 order-md-1">
				<h4>Answers:</h4>

				<h6 class="text-muted" ng-show="question.answers.length == 0">No Answers yet</h6>

				<div class="card mb-4 answer" ng-repeat="answer in question.answers">
					<h6 class="card-subtitle pl-3 pt-4 pb-2">@{{answer.username}}</h6>
					<div class="card-body pt-0">
						<p class="card-text float-left fakePre">{{answer.body}}</p>
					</div>
				</div>
			</div>

			<div class="col-md-5 order-1 order-md-2 mb-4">
				<div>
					<h4>New Answer:</h4>
					<form id="new-answer-form" ng-submit="postAnswer()">
						<div class="form-group">
							<textarea class="form-control" rows="4" ng-model="answer.body" placeholder="Enter Answer..." required></textarea>
							<div class="text-danger" ng-show="answer.error">{{answer.error}}</div>
						</div>

						<button type="submit" id="new-answer-submit" class="btn btn-red float-right">Submit</button>
					</form>
				</div>

				<div ng-show="loggedIn">
					<h4>Log in to post an answer:</h4>
					<a href="#" class="btn btn-red" ng-click="showModal()">Log In</a>
				</div>
			</div>
		</div>
	</div>

	<ng-include src="'views/qa/auth/login.html'"></ng-include>
</section>